@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:500,400,700,300|Aboreto:400|Noto+Serif+Malayalam:700|Montserrat:300,700|Inter:500,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6729b948983199123a03b5b6.6729b949983199123a03b5b9.E0mY5lw.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
:root { 
  --attrangscokralabaster: #000000;
  --attrangscokralmond: #000000;
  --attrangscokralto: #000000;
  --attrangscokramericano: #000000;
  --attrangscokramour: #000000;
  --attrangscokrantique-brass: #000000;
  --attrangscokrapricot: #000000;
  --attrangscokrarapawa: #000000;
  --attrangscokrarrowtown: #000000;
  --attrangscokrash: #000000;
  --attrangscokrbison-hide: #000000;
  --attrangscokrblack: #000000;
  --attrangscokrblizzard-blue: #000000;
  --attrangscokrblue-romance: #000000;
  --attrangscokrbone: #000000;
  --attrangscokrbronco: #000000;
  --attrangscokrbutterfly-bush: #000000;
  --attrangscokrcan-can: #000000;
  --attrangscokrcape-palliser: #000000;
  --attrangscokrcaper: #000000;
  --attrangscokrcardinal: #000000;
  --attrangscokrcarnation: #000000;
  --attrangscokrcarnation-pink: #000000;
  --attrangscokrcashmere: #000000;
  --attrangscokrchambray: #000000;
  --attrangscokrchamois: #000000;
  --attrangscokrchelsea-cucumber: #000000;
  --attrangscokrchicago: #000000;
  --attrangscokrchino: #000000;
  --attrangscokrcioccolato: #000000;
  --attrangscokrconcrete: #000000;
  --attrangscokrcupid: #000000;
  --attrangscokrdi-serria: #000000;
  --attrangscokrdolly: #000000;
  --attrangscokrdusty-gray: #000000;
  --attrangscokreast-bay: #000000;
  --attrangscokreast-side: #000000;
  --attrangscokreastern-blue: #000000;
  --attrangscokrecru-white: #000000;
  --attrangscokremperor: #000000;
  --attrangscokrenvy: #000000;
  --attrangscokrfall-green: #000000;
  --attrangscokrfantasy: #000000;
  --attrangscokrfrench-rose: #000000;
  --attrangscokrfuscous-gray: #000000;
  --attrangscokrfuzzy-wuzzy-brown: #000000;
  --attrangscokrgallery: #000000;
  --attrangscokrgeraldine: #000000;
  --attrangscokrgeraldine-14: #000000;
  --attrangscokrgranny-smith: #000000;
  --attrangscokrgray: #000000;
  --attrangscokrgun-powder: #000000;
  --attrangscokrhampton: #000000;
  --attrangscokrindian-khaki: #000000;
  --attrangscokrjewel: #000000;
  --attrangscokrjust-right: #000000;
  --attrangscokrkabul: #000000;
  --attrangscokrkobi: #000000;
  --attrangscokrmandys-pink: #000000;
  --attrangscokrmarigold-yellow: #000000;
  --attrangscokrmercury: #000000;
  --attrangscokrmine-shaft: #000000;
  --attrangscokrmuddy-waters: #000000;
  --attrangscokrnobel: #000000;
  --attrangscokrolivine: #000000;
  --attrangscokronahau: #000000;
  --attrangscokrorchid: #000000;
  --attrangscokroxley: #000000;
  --attrangscokrpablo: #000000;
  --attrangscokrpadua: #000000;
  --attrangscokrpapaya-whip: #000000;
  --attrangscokrparsley: #000000;
  --attrangscokrpicasso: #000000;
  --attrangscokrpine-glade: #000000;
  --attrangscokrpink: #000000;
  --attrangscokrpolo-blue: #000000;
  --attrangscokrport-gore: #000000;
  --attrangscokrprelude: #000000;
  --attrangscokrpurple: #000000;
  --attrangscokrquicksand: #000000;
  --attrangscokrroman-coffee: #000000;
  --attrangscokrromantic: #000000;
  --attrangscokrroyal-blue: #000000;
  --attrangscokrsandstone: #000000;
  --attrangscokrsandy-brown: #000000;
  --attrangscokrscorpion: #000000;
  --attrangscokrscotch-mist: #000000;
  --attrangscokrseagull: #000000;
  --attrangscokrsilk: #000000;
  --attrangscokrsilver: #000000;
  --attrangscokrsilver-chalice: #000000;
  --attrangscokrsoft-amber: #000000;
  --attrangscokrspindle: #000000;
  --attrangscokrsprout: #000000;
  --attrangscokrstark-white: #000000;
  --attrangscokrswirl: #000000;
  --attrangscokrtapestry: #000000;
  --attrangscokrthunderbird: #000000;
  --attrangscokrtundora: #000000;
  --attrangscokrvalencia: #000000;
  --attrangscokrvalhalla: #000000;
  --attrangscokrvanilla: #000000;
  --attrangscokrvarden: #000000;
  --attrangscokrvermilion: #000000;
  --attrangscokrvin-rouge: #000000;
  --attrangscokrwe-peep: #000000;
  --attrangscokrwheat: #000000;
  --attrangscokrwheatfield: #000000;
  --attrangscokrwhite: #000000;
  --attrangscokrwhite-95: #000000;
  --attrangscokrwhite-rock: #000000;
  --attrangscokrwild-sand: #000000;
  --attrangscokrzorba: #000000;
  --coconut: #fdfdfd;
  --coffeehomecokrblack: #000000;
  --coffeehomecokrboulder: #000000;
  --coffeehomecokrcloud-burst: #000000;
  --coffeehomecokrcrimson: #000000;
  --coffeehomecokrdove-gray: #000000;
  --coffeehomecokremperor: #000000;
  --coffeehomecokrfair-pink: #000000;
  --coffeehomecokrmine-shaft: #000000;
  --coffeehomecokrpomegranate: #000000;
  --coffeehomecokrsilver-chalice: #000000;
  --coffeehomecokrwax-flower: #000000;
  --coffeehomecokrwhite: #000000;
  --coffeehomecokrwild-sand: #000000;
  --gray-nurse: #eaeaea;
  --helpwhalenavercomalto: #000000;
  --helpwhalenavercomblack: #000000;
  --helpwhalenavercomblack-10: #000000;
  --helpwhalenavercomblack-12: #000000;
  --helpwhalenavercomboulder: #000000;
  --helpwhalenavercomdiesel-15: #000000;
  --helpwhalenavercomroyal-blue: #000000;
  --helpwhalenavercomscience-blue: #000000;
  --helpwhalenavercomwhite: #ffffff;
  --helpwhalenavercomzircon: #000000;
  --krpinterestcomalabaster: #000000;
  --krpinterestcombastille: #000000;
  --krpinterestcomblack-4: #000000;
  --krpinterestcomblack-6: #000000;
  --krpinterestcombright-red: #000000;
  --krpinterestcomcape-cod: #000000;
  --krpinterestcomcod-gray: #000000;
  --krpinterestcomgallery: #000000;
  --krpinterestcomguardsman-red: #000000;
  --krpinterestcomiron: #000000;
  --krpinterestcommercury: #000000;
  --krpinterestcomseashell: #000000;
  --krpinterestcomwhite: #000000;
  --krpinterestcomwhite-02: #000000;
  --krpinterestcomwhite-90: #000000;
  --krpinterestcomwhite-95: #000000;
  --membershinsegaepointcomalabaster: #000000;
  --membershinsegaepointcomalizarin-crimson: #000000;
  --membershinsegaepointcomblack: #000000;
  --membershinsegaepointcomboulder: #000000;
  --membershinsegaepointcomemperor: #000000;
  --membershinsegaepointcomgallery: #000000;
  --membershinsegaepointcommercury: #000000;
  --membershinsegaepointcomsilver: #000000;
  --membershinsegaepointcomwhite: #000000;
  --membershinsegaepointcomwild-sand: #000000;
  --priumgithubioaqua-haze: #000000;
  --priumgithubioathens-gray: #000000;
  --priumgithubiobali-hai-80: #000000;
  --priumgithubioblue-ribbon: #000000;
  --priumgithubiochardonnay-24: #000000;
  --priumgithubiochristine-20: #000000;
  --priumgithubiocomet-80: #000000;
  --priumgithubiocomet-85: #000000;
  --priumgithubiododger-blue-20: #000000;
  --priumgithubiolimeade-20: #000000;
  --priumgithubiolochmara: #000000;
  --priumgithubiomelrose: #000000;
  --priumgithubiomirage: #000000;
  --priumgithubiomischka: #000000;
  --priumgithubiomischka-54: #000000;
  --priumgithubiowhite: #000000;
  --priumgithubiowhite-catskill-white: #000000;
  --priumgithubiozumthor: #000000;
  --pumice: #c8c8c8;
  --shark: #262626;
  --themewagongithubioalto: #000000;
  --themewagongithubioblack: #000000;
  --themewagongithubioblack-6: #000000;
  --themewagongithubioblack-9: #000000;
  --themewagongithubioblue-ribbon-4: #000000;
  --themewagongithubiobright-turquoise: #000000;
  --themewagongithubiocinderella: #000000;
  --themewagongithubiogreen-haze: #000000;
  --themewagongithubiohumming-bird: #000000;
  --themewagongithubiomartinique: #000000;
  --themewagongithubiomedium-purple: #000000;
  --themewagongithubiomirage: #000000;
  --themewagongithubiopattens-blue: #000000;
  --themewagongithubioscarlet: #000000;
  --themewagongithubiowhisper: #000000;
  --themewagongithubiowhite: #ffffff;
  --themewagongithubiowhite-whisper: #000000;
  --themewagongithubiozircon: #000000;
  --wwwdaisomallcokrathens-gray: #000000;
  --wwwdaisomallcokrblack: #000000;
  --wwwdaisomallcokrblack-40: #000000;
  --wwwdaisomallcokrdodger-blue: #000000;
  --wwwdaisomallcokrebony-clay: #000000;
  --wwwdaisomallcokrghost: #000000;
  --wwwdaisomallcokrgray: #000000;
  --wwwdaisomallcokrgray-25: #000000;
  --wwwdaisomallcokrmercury: #000000;
  --wwwdaisomallcokrmine-shaft: #000000;
  --wwwdaisomallcokrmirage: #000000;
  --wwwdaisomallcokrmonza: #000000;
  --wwwdaisomallcokrnevada: #000000;
  --wwwdaisomallcokroxford-blue: #000000;
  --wwwdaisomallcokrportage: #000000;
  --wwwdaisomallcokrselago: #000000;
  --wwwdaisomallcokrsilver: #000000;
  --wwwdaisomallcokrwhite: #000000;
  --wwwdaisomallcokrwhite-02: #000000;
  --wwwediyacomwhite-white: #000000;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xs: 12px;
  --font-size-xxl: 48px;
  --font-size-xxs: 11px;
 
  --font-family-aboreto: "Aboreto", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-noto_sans_kr: "Noto Sans KR", Helvetica;
  --font-family-noto_serif_malayalam: "Noto Serif Malayalam", Helvetica;
}
.themewagongithubiosemanticheading-6 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.notosanskr-light-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.notosanskr-medium-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.notosanskr-normal-shark-18px {
  color: var(--shark);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-light-pumice-16px {
  color: var(--pumice);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.notosanskr-light-coconut-12px {
  color: var(--coconut);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}
/* screen - MenuList */

.MenuList {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.MenuList .header {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: flex-start;
  margin-left: 2.0px;
  margin-top: 18px;
  min-width: 1922px;
  width: auto;
}

.MenuList .overlap-group1 {
  height: 126px;
  position: relative;
  width: 1920px;
}

.MenuList .overlap-group {
  height: 126px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.MenuList .container {
  align-items: center;
  background-color: #ffffff80;
  display: flex;
  height: 65px;
  left: 0;
  padding: 16px 29px;
  position: absolute;
  top: 61px;
  width: 1920px;
}

.MenuList .sidebar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 1.0px;
  min-height: 24px;
  width: 25px;
}

.MenuList .border {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: var(--shark);
  border-top-style: solid;
  border-top-width: 3px;
  height: 3px;
  width: 25px;
}

.MenuList .horizontal-border {
  border-color: var(--shark);
  border-top-style: solid;
  border-top-width: 3px;
  height: 6px;
  width: 25px;
}

.MenuList .navbar {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 78px;
  height: 22px;
  margin-bottom: 2px;
  margin-left: 557px;
  min-width: 722px;
}

.MenuList .navbar-link-text-4 {
  width: 86px;
}

.MenuList .navbar-link-text-1 {
  width: 100px;
}

.MenuList .navbar-link-text-5 {
  width: 74px;
}

.MenuList .navbar-link-text-2 {
  align-self: flex-end;
  color: var(--shark);
  font-family: var(--font-family-aboreto);
  font-size: var(--font-size-l);
  font-weight: 400;
  width: 70px;
}

.MenuList .navbar-link-text-3 {
  width: 70px;
}

.MenuList .image-1 {
  align-self: flex-start;
  height: 31px;
  margin-left: 443px;
  object-fit: cover;
  width: 31px;
}

.MenuList .group {
  height: 24px;
  margin-bottom: 0.5px;
  margin-left: 34px;
  width: 26px;
}

.MenuList .cc {
  color: transparent;
  font-family: var(--font-family-noto_serif_malayalam);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 71px;
  left: 916px;
  letter-spacing: -4.00px;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 89px;
}

.MenuList .span {
  color: var(--shark);
  letter-spacing: -1.92px;
}

.MenuList .span1 {
  color: #cbd2a4;
  letter-spacing: -1.92px;
}

.MenuList .sidemenu {
  align-items: flex-end;
  display: flex;
  gap: 17px;
  height: 17px;
  left: 1738px;
  min-width: 145px;
  position: absolute;
  top: 32px;
}

.MenuList .text-7 {
  color: var(--shark);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  width: 40px;
}

.MenuList .vertical-divider {
  background-color: #bbbbbb;
  height: 12px;
  margin-bottom: 1px;
  width: 1px;
}

.MenuList .text-6 {
  color: var(--shark);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  width: 66px;
}

.MenuList .background {
  align-items: flex-end;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 15px;
  overflow: hidden;
  width: 1000px;
}

.MenuList .heading-2 {
  align-self: center;
  color: #202020;
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 39px;
  letter-spacing: -1.00px;
  line-height: 38.5px;
  margin-top: -1px;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
}

.MenuList .flex-row {
  display: flex;
  margin-top: 20px;
  min-width: 1000px;
}

.MenuList .frame-104 {
  align-items: flex-start;
  align-self: center;
  background-color: #fbfbfb;
  border: 1px solid;
  border-color: #e1e1e1;
  border-radius: 8px;
  display: flex;
  gap: 5px;
  margin-bottom: 1.0px;
  padding: 6px 10px;
  position: relative;
  width: 109px;
}

.MenuList .frame-105 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.MenuList .text-59 {
  color: #c4bbbb;
  font-family: var(--font-family-noto_sans_kr);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.MenuList .sort-down {
  height: 20px;
  position: relative;
  width: 22px;
}

.MenuList .frame-107 {
  align-items: flex-start;
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #e1e1e1;
  border-radius: 8px;
  display: flex;
  gap: 149px;
  margin-left: 3px;
  padding: 6px 10px;
  position: relative;
  width: 227px;
}

.MenuList .text-60 {
  color: #c4bbbb;
  font-family: var(--font-family-noto_sans_kr);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.MenuList .img {
  height: 24px;
  margin-right: -3.00px;
  position: relative;
  width: 24px;
}

.MenuList .text-63 {
  color: var(--attrangscokralabaster);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: 39px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 722px;
  text-align: center;
  width: 82px;
}

.MenuList .overlap-group2 {
  min-height: 500px;
  margin-top: 34px;
  position: relative;
  width: 1000px;
}

.MenuList .horizontal-border-1 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #deebff;
  height: 48px;
  left: 30px;
  position: absolute;
  top: 13px;
  width: 940px;
}

.MenuList .frame-92 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 1000px;
}

.MenuList .frame-87 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: var(--attrangscokralabaster);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 1000px;
}

.MenuList .cell-1 {
  width: 107px;
}

.MenuList .text-12 {
  height: 21px;
  left: 24px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
}

.MenuList .cell-2 {
  width: 376px;
}

.MenuList .text-13 {
  height: 21px;
  left: 158px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.MenuList .cell-3 {
  width: 94px;
}

.MenuList .text-14 {
  height: 21px;
  left: 32px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
}

.MenuList .cell-4 {
  width: 101px;
}

.MenuList .text-15 {
  height: 21px;
  left: 35px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.MenuList .cell {
  height: 60px;
  position: relative;
  width: 87px;
}

.MenuList .text-16 {
  height: 21px;
  left: 14px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.MenuList .text-17 {
  height: 21px;
  left: 28px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.MenuList .cell-5 {
  width: 88px;
}

.MenuList .text-18 {
  height: 21px;
  left: 21px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.MenuList .frame {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-nurse);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 1000px;
}

.MenuList .data {
  height: 110px;
  position: relative;
  width: 107px;
}

.MenuList .text {
  height: 21px;
  left: -16px;
  letter-spacing: -1.00px;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 139px;
}

.MenuList .data-1 {
  width: 376px;
}

.MenuList .frame-91 {
  align-items: center;
  display: flex;
  gap: 40px;
  position: relative;
  top: 15px;
  width: 376px;
}

.MenuList .x39607d95d144c4751fedd9d44017d8b7jpg {
  
  background-position: 50% 50%;
  background-size: cover;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 82px;
  margin-left:30px
}

.MenuList .x2024-10-28-103829-1 {
  height: 100%;
  left: 0;
  
  position: absolute;
  object-fit: contain;
  width: 87px;
  cursor: pointer;
}

.MenuList .frame-89 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
  width: 159px;
}

.MenuList .text-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.MenuList .data-2 {
  width: 94px;
}

.MenuList .text-2 {
  height: 21px;
  left: -7px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 108px;
}

.MenuList .data-3 {
  width: 101px;
}

.MenuList .x591ml {
  height: 20px;
  left: 10px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 44px;
  white-space: nowrap;
  width: 80px;
}

.MenuList .data-4 {
  width: 87px;
}

.MenuList .text-22 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .x63g {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .data-5 {
  width: 88px;
}

.MenuList .x102mg {
  height: 21px;
  left: 4px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 78px;
}

.MenuList .text-26 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-30 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-34 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-38 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-42 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-46 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-50 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-54 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .text-58 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}

.MenuList .flex-row-1 {
  align-self: center;
  margin-top: 15px;
  min-width: 186px;
}

.MenuList .component-2 {
  padding: 0px 11.77px 0px 11.75px;
  position: relative;
  width: 30px;
}

.MenuList .text-4 {
  color: #0e347e;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: -0.26px;
  margin-right: -0.26px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.MenuList .component-3 {
  padding: 0px 10.5px 0px 10.48px;
  position: relative;
  width: 30px;
}

.MenuList .text-5 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: -0.49px;
  margin-right: -0.49px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.MenuList .component-4 {
  padding: 0px 10.53px;
  position: relative;
  width: 30px;
}

.MenuList .text-3 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: -0.03px;
  margin-right: -0.03px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.MenuList .component-5 {
  padding: 0px 9.76px 0px 9.77px;
  position: relative;
  width: 30px;
}

.MenuList .text-8 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: -0.27px;
  margin-right: -0.27px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.MenuList .overlap-group3 {
  height: 30px;
  position: relative;
  width: 66px;
}

.MenuList .component-1 {
  left: 0;
  padding: 0px 35.53px 0px 10.53px;
  position: absolute;
  top: 0;
  width: 55px;
}

.MenuList .border-1 {
  align-items: center;
  border: 1px solid;
  border-color: #eeeeee;
  display: flex;
  height: 30px;
  left: 36px;
  min-width: 30px;
  padding: 0 12.5px;
  position: absolute;
  top: 0;
}

.MenuList .image {
  height: 6px;
  width: 5px;
}

.MenuList .overlap-group-1 {
  border-radius: 2px;
  height: 53px;
  margin-right: 46px;
  margin-top: 31px;
  position: relative;
  width: 169px;
}

.MenuList .text-61 {
  color: var(--helpwhalenavercomwhite);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 20px;
  left: 21px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 127px;
}

.MenuList .small-btn_brown {
  align-items: flex-start;
  background-color: #54473f;
  border-radius: 5px;
  display: flex;
  height: 40px;
  justify-content: center;
    align-items: center;
  width: 100px;
  padding: 20px 48px;
  margin-left: 10px;
  
  top: 0;
}

.MenuList .text-62 {
  color: var(--helpwhalenavercomwhite);
  font-weight: 400;
  height: 12px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
  width: 72px;
}

.MenuList .footer {
  align-items: flex-end;
  background-color: #9a7e6f;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 200px;
  justify-content: flex-start;
  margin-top: 54px;
  min-width: 1920px;
  padding: 24px 0;
  width: auto;
}

.MenuList .footer-contents {
  align-items: flex-end;
  display: flex;
  gap: 19px;
  height: 150px;
  padding: 22.1px 340px;
  width: 1920px;
}

.MenuList .flex-row-2 {
  gap: 30px;
  min-width: 893px;
}

.MenuList .flex-col {
  flex-direction: column;
  gap: 3px;
  margin-top: 0.12px;
  min-height: 59px;
  width: 862px;
}

.MenuList .overlap-group-2 {
  height: 39px;
  position: relative;
  width: 862px;
}

.MenuList .x {
  height: 37px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 606px;
}

.MenuList .text-8-1 {
  color: var(--helpwhalenavercomwhite);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-weight: 300;
  height: 17px;
  left: 421px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 21px;
  white-space: nowrap;
  width: 77px;
}

.MenuList .text-9 {
  height: 17px;
  left: 508px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 354px;
}

.MenuList .copyright {
  height: 17px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -3px;
  white-space: nowrap;
}

.MenuList .vertical-divider-1 {
  background-color: #e5e5e5;
  height: 87px;
  width: 1px;
}

.MenuList .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 2.21px;
  min-height: 86px;
  width: 319px;
}

.MenuList .heading-3 {
  color: var(--coconut);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height: 53px;
  letter-spacing: -0.50px;
  line-height: 18px;
  width: 294px;
}

.MenuList .span0 {
  font-weight: 500;
  letter-spacing: -0.06px;
}

.MenuList .span1-1 {
  font-weight: 300;
  letter-spacing: -0.06px;
}

.MenuList .text-container {
  align-items: center;
  display: flex;
  gap: 17px;
  min-width: 319px;
}

.MenuList .text-10 {
  height: 18px;
  letter-spacing: -0.50px;
  line-height: 18px;
  white-space: nowrap;
  width: 211px;
}

.MenuList .text-11 {
  color: var(--helpwhalenavercomwhite);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xxs);
  font-weight: 300;
  height: 16px;
  letter-spacing: -0.50px;
  line-height: 18px;
  margin-bottom: 0.46px;
  text-align: center;
  white-space: nowrap;
  width: 91px;
}

.MenuList .cell-6 {
  height: 60px;
  position: relative;
}

.MenuList .component {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.MenuList .data-6 {
  height: 110px;
  position: relative;
}

.MenuList .flex {
  align-items: flex-start;
  display: flex;
}

.MenuList .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.MenuList .navbar-link-text {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}

.MenuList .x63g-10 {
  height: 21px;
  left: -2px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 90px;
}


.MenuList .text-1-1 {
  color: var(--attrangscokralabaster);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 300;
  height: 39px;
  letter-spacing: 0;
  line-height: 24px;
  
  text-align: start;
  width: 82px;
  
}